/*обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
    font-weight: 400;
}

p+p {
    margin-top: 1em;
}

/*шрифт*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype'),
        url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas.woff2') format('woff2'),
        url('../fonts/Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Roboto';
    background-image: url(../img/add-index-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    /*min-width: 320px*/
}

.content {
    min-width: 320px;
    margin: 0 auto;
}

.content-header {
    width: 212px;
    margin: 35px auto;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;

}

.content-header-title {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 5px;
}

.content-header-title span {
    font-weight: 100;
}

.content-header-title-admin {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5px;


}

.main-content {
    min-width: 320px;
}

.main-content-sections {
    min-width: 320px;
}

.main-content-section {
    background-color: rgba(234, 233, 235, 0.95);
    padding-bottom: 30px;
}

.main-content-section-title {
    box-sizing: border-box;
    background-color: rgba(99, 83, 108, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    padding-left: 67px;
   /* text-align: center;*/
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 35px;
    min-width: 320px;
}


.main-content-section-title::before {
    content: url('../img/list-before.png');
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    left: 22px;

}

.main-content-section-title::after {
    content: url('../img/list-after.png');
    width: 24px;
    height: 16px;
    position: absolute;
    top: 18px;
    right: 20px;
}

.main-content-section-control-hall {
   padding-left: 31px;
}

.main-content-section-control-hall-list {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 21px;
}

.main-content-section-control-hall-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 18px;
    position: relative;
    margin-left: 25px;
}

.main-content-section-control-hall-item::before {
    content: url('../img/item-before.png');
    position: absolute;
    width: 11px;
    height: 18px;
    top: -5px;
    left: -15px;
}

.main-content-section-control-hall-item-del {
    width: 20px;
    height: 20px;
    background-image: url(../img/item-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    background-color: transparent;

}

.main-content-section-control-hall-btn-link {
    width: 159px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
    /*margin-bottom: 18px;*/
}

.main-content-section-configuration {
    padding: 0 20px;

}

.main-content-section-configuration-hall {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
    margin-left: 13px;

}

.main-content-section-configuration-hall span {
    display: block;
    margin-bottom: 12px;
}

.main-content-section-configuration-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
}

.main-content-section-configuration-type-hall-items {
    min-width: 70%;
}

.main-content-section-configuration-item {
    /*width: 81px;*/
    margin-bottom: 2px;
    height: 42px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    font-weight: 500;
    padding: 14px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-configuration-item.active {
    /* width: 90px;*/
    height: 46px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 700;
    padding: 15px 23px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-configuration-place {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
    margin-left: 13px;

}

.main-content-section-configuration-place span {
    display: block;
    margin-bottom: 6px;


}

.main-content-section-configuration-place-list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 237px;
}

.main-content-section-configuration-place-item-title {
    position: relative;
}

.main-content-section-configuration-place-item-title span {
    display: block;
    color: rgba(132, 132, 132, 1);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;

}

.main-content-section-configuration-place-item:first-child::after {
    content: "X";
    position: absolute;
    top: 35px;
    left: 113px;
    color: rgba(132, 132, 132, 1);
    font-family: 'Consolas';
    font-size: 18px;
    font-weight: 400;
}


.main-content-section-configuration-place-item-input {
    padding: 8px;
    width: 100px;
    height: 36px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(183, 183, 183, 1);
}

.main-content-section-configuration-type span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.main-content-section-configuration-type-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 11px;
    margin-left: 13px;
}

.main-content-section-configuration-type-item-desc {
    display: flex;
    flex-wrap: nowrap;
}

.main-content-section-configuration-type-item {
    width: 26px;
    height: 26px;
}


.main-content-section-configuration-type-item-desc span {
    display: block;
    box-sizing: border-box;
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}


.main-content-section-configuration-type-item.standart {
    border-radius: 4px;
    display: block;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(57, 57, 57, 1);
}

.main-content-section-configuration-type-item.vip {

    border-radius: 4px;
    background: url(../img/vip.png);

}

.main-content-section-configuration-type-item.disabled {
    border-radius: 4px;
    background-color: rgba(196, 196, 196, 0);
    border: 1px solid rgba(132, 132, 132, 1)
}
.main-content-section-open-btn.disabled {
    background-color: #888888;
    pointer-events: none;
}

.main-content-section-configuration-type-descr {
    display: block;
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.main-content-section-configuration-type-hall {
    padding: 20px;
    min-width: 280px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.main-content-section-configuration-type-hall-screen {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 18px;
}

.main-content-buying-hall-scheme-items-row {
    display: flex;
}

.main-content-section-configuration-type-hall-items-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content-section-configuration-type-hall-items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.main-content-section-configuration-type-item {
    margin-bottom: 8px;
    margin-right: 8px;
    width: 26px;
    height: 26px;
}
.main-content-section-configuration-type-save {
    width: 282px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
   /* margin-bottom: 11px;*/
}

.main-content-section-configuration-type-nosave-btn {
    width: 121px;
    height: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(99, 83, 108, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    text-transform: uppercase;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);

}


.main-content-section-configuration-type-save-btn {
    width: 146px;
    height: 40px;
    display: block;
    background-color: rgba(22, 166, 175, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    text-transform: uppercase;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-price-hall {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
    padding-left: 30px;
    padding-right: 5px;
   }
.main-content-section-price-hall.open {
    padding-right: 5px;
}
.main-content-section-price-hall span {
    display: block;
    margin-bottom: 12px;
}

.main-content-section-price-hall-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.main-content-section-price-hall-item {
    /*width: 81px;*/
    height: 42px;
    background-color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    font-weight: 500;
    padding: 14px 20px;
    margin-right: 2px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-price-hall-item.active {
    /* width: 90px;*/
    height: 46px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 700;
    padding: 15px 23px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-price-type {
    padding: 0 20px;
    /*margin-bottom: 12px;*/
}

.main-content-section-price-type span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
}

.main-content-section-price-type-list {
    display: flex;
    flex-wrap: wrap;
}

.main-content-section-price-type-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 12px;
}

.main-content-section-price-type-item-title span {
    display: block;
    color: rgba(132, 132, 132, 1);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;

}

.main-content-section-price-hall-item-input {
    padding: 8px;
    width: 100px;
    height: 36px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(183, 183, 183, 1);
    margin-bottom: 5px;
}

.main-content-section-price-hall-item-descr {
    width: 162px;
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.main-content-section-configuration-type-item-desc span {

    margin-bottom: 0;
}

.main-content-section-configuration-type-item-desc span>.main-content-section-configuration-type-item {
    margin: 0 5px;
}

.main-content-section-sessions-add {
    width: 194px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    text-transform: uppercase;
    margin-left: 31px;
    margin-top: 52px;
    margin-bottom: 27px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.main-content-section-sessions-list {
    padding: 15px 31px;
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;

}

.main-content-section-sessions-item {
    display: flex;
    flex-wrap: nowrap;
    min-width: 259px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*cursor: move;*/
    position: relative;
}

.selected {
    opacity: 0.6;
}

.main-content-section-sessions-item:nth-child(n+1) {
    background-color: rgba(202, 255, 133, 1);
}

.main-content-section-sessions-item:nth-child(2n+1) {
    background-color: rgba(133, 255, 137, 1);
}

.main-content-section-sessions-item:nth-child(3n+1) {
    background-color: rgba(133, 255, 211, 1);
}

.main-content-section-sessions-item:nth-child(4n+1) {
    background-color: rgba(133, 226, 255, 1);
}

.main-content-section-sessions-item:nth-child(5n+1) {
    background-color: rgba(133, 153, 255, 1);
}


.main-content-section-sessions-item:nth-child(n+2) {
    margin-top: 15px;
}

.main-content-section-sessions-item-img {
    display: flex;
    width: 38px;
    height: 50px;
    margin-right: 10px;
}

.main-content-section-sessions-item-img img {
    width: 100%;
}

.main-content-section-sessions-item-descr {
    display: flex;
    flex-wrap: wrap;
    width: 202px;
    padding: 2px;
}

.main-content-section-sessions-item-title {
    width: 100%;
    margin-bottom: 2px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.main-content-section-sessions-item-time {
    font-weight: 400;
}

.main-content-section-sessions-item-del {
    position: absolute;
    top: 26px;
    right: -1px;
    width: 24px;
    height: 24px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../img/item-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    background-color: transparent;


}

.main-content-section-sessions-halls {
    padding: 5px;
    margin-left: 31px;
    /*margin-right: 42px;*/
}

.main-content-section-sessions-hall {
    position: relative;
    margin-bottom: 30px;
   

}

.basket-delete {
    position: absolute;
    top: 17px;
    left: -58px;
    height: 60px;
    width: 47px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    
}

.basket-delete.hover {
    background-image: url(../img/icon.png);
}

.main-content-section-sessions-hall span {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

}

.main-content-section-sessions-hall-net {
    position: relative;
    min-height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 240px;
    border: 2px solid rgba(132, 132, 132, 1);

}

.main-content-section-sessions-item-prev {
    position: absolute;
    height: 40px;
    max-width: 50px;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;

}
.main-content-section-sessions-item-prev:last-child {
    margin-right: 0;
    
}

.main-content-section-sessions-item-prev {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .main-content-section-sessions-item-prev {
        margin-bottom: 10px;
    }
    .basket-delete {
        position: absolute;
        top: 27px;
        left: -36px;
        height: 44px;
        width: 35px;
}
}
.main-content-section-sessions-item-prev:nth-child(n+1) {
    background-color: rgba(202, 255, 133, 1);
}

.main-content-section-sessions-item-prev:nth-child(2n+1) {
    background-color: rgba(133, 255, 137, 1);
}

.main-content-section-sessions-item-prev:nth-child(3n+1) {
    background-color: rgba(133, 255, 211, 1);
}

.main-content-section-sessions-item-prev:nth-child(4n+1) {
    background-color: rgba(133, 226, 255, 1);
}

.main-content-section-sessions-item-prev:nth-child(5n+1) {
    background-color: rgba(133, 153, 255, 1);
}

.main-content-section-open-btn.disabled {
    background-color: #888888;
    pointer-events: none;
}
.main-content-section-sessions-hall-net-movie {

    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 10px;
    padding: 10px 3px;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;

}

.main-content-section-sessions-hall-net-movie:nth-child(n+2) {
    margin-left: 1px;
}

.main-content-section-sessions-hall-net-movie.green {
    background-color: rgba(133, 255, 137, 1);
}

.main-content-section-sessions-hall-net-movie.light-green {
    background-color: rgba(202, 255, 133, 1);
}


.movie-time {
    position: absolute;
    bottom: -30px;
    left: -15px;
    display: block;
    width: 30px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: rgba(132, 132, 132, 1);
}

.movie-time::after {
    content: '|';
    position: absolute;
    bottom: 13px;
    left: 14px;
    font-family: Roboto;
    font-weight: 900;
    color: rgba(132, 132, 132, 1);
}


.main-content-section-price-hall.open {
    min-width: 300px;
    
}

.main-content-section-open-descr {
    margin-bottom: 29px;

}

.main-content-section-open-descr span {
    display: block;
    width: 199px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;

}

.main-content-section-open-btn {
    width: 270px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}


@media (min-width: 768px) and (max-width: 1599px) {
    body {
        background-image: url(../img/add-index-tablet.jpg);
    }

.content {
        width: 100%;
        margin: 0 auto;
    }
   
    .main-content {
        width: 100%;
    }

    .content-header {
        margin: 35px 104px;
    }
  
    .main-content-section-title {
        padding: 35px;
        text-align: left;
    }

    .main-content-section-control-hall-btn-link {
       
        margin-left: 0;
    }
    
    .main-content-section:last-child {
        padding-bottom: 0;
    }
    
    .main-content-section-title::before {
        content: url(../img/list-before-tablet.png);
        width: 44px;
        height: 44px;
        position: absolute;
        top: 22px;
        left: 40px;
    }

    .main-content-section-title::after {
        top: 33px;
        right: 40px;
    }
    .main-content-section-open-btn.disabled {
        background-color: #888888;
        pointer-events: none;
    }
    .main-content-section-control-hall {
        padding-left: 80px;

    }
    .main-content-section-control-hall-list {
        margin-bottom: 8px;
    }
    
    .main-content-section-configuration {
        padding-left: 80px;
    }

    .main-content-section-price-type {
        padding-left: 80px;
    }

    .main-content-section-sessions-add {
        display: flex;
        margin-left: 80px;
    }

    .main-content-section-sessions-list {
        margin-left: 60px;

    }

    .main-content-section-price-hall.open {
        padding-left: 104px;
        margin-bottom: 40px;
    }
    .main-content-section-price-hall span {
        margin-bottom: 24px;
    }
    .main-content-section-sessions-halls {
        padding-left: 80px;
    }

    .main-content-section-price-hall {

        padding-left: 80px;
    }

    .main-content-section-configuration-type-hall {
        margin: 0 auto 20px;
    }

    .main-content-section-price-type-item {
        width: 100%;
    }

    .main-content-section-sessions-list {
        width: 607px;
    }

    .main-content-section-sessions-item:nth-child(n+2) {
        margin-top: 0;
    }

    .main-content-section-sessions-item {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .main-content-section-sessions-halls {
        width: 552px;
    }

    .main-content-section-sessions-hall {
        width: 100%;
    }

    .main-content-section-sessions-hall-net {
        width: 552px;
    }

}

@media (min-width: 1599px) {
    body {
        background-image: url(../img/add-index-desktop.jpg);
    }
    .main-content-section {
        padding-bottom: 35px;
    }

    .main-content-section:last-child {
        padding-bottom: 0;
    }
    .main-content-section-control-hall-btn-link {
        margin-left: 0;
    }
    .main-content-section-configuration-type-save {
        width: 282px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: 267px;
        margin-bottom: 11px;
    }

    .main-content-section-sessions-list {
        padding: 15px 24px;
        display: flex;
        flex-wrap: wrap;
        min-width: 791px;
    }

    .main-content-section-sessions-halls {
        padding: 5px;
        margin-left: 139px;
        margin-right: 42px; 
    }
    .content {
        width: 962px;
        margin: 0 auto;
    }

    .content-header {
        margin: 35px 104px;
    }


    .main-content-section {
        position:relative;
    }
    .main-content-section::before {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        background-color: rgba(188, 149, 214, 1);
        left: 61px;
        top: 25px;
        z-index: 1;

    }
    
    .main-content-section:last-child:before {
        background-color: rgba(214, 149, 149, 0);
    }
   
    
    .main-content-section-title {
        padding: 35px;
        padding-left: 104px;
        text-align: left;
    }

    .main-content-section-title::before {
        content: url(../img/list-before-tablet.png);
        width: 44px;
        height: 44px;
        position: absolute;
        top: 23px;
        left: 40px;
        z-index: 15;
    }

    .main-content-section-title::after {
        top: 33px;
        right: 40px;
    }

    .main-content-section-configuration-type-hall {
        margin: 0 auto 28px;
        width: 826px;
    }

    .main-content-section-control-hall {
        padding-left: 104px;

    }

    .main-content-section-configuration {
        padding-top: 3px;
        padding-left: 104px;
    }

    .main-content-section-price-hall {

        padding-left: 99px;
    }

    .main-content-section-price-type {
        padding-left: 99px;
        padding-bottom: 3px;
    }

    .main-content-section-sessions-add {
       /* display: flex;*/
        margin-left: 104px;
        margin-top: 48px;

    }

    .main-content-section-price-type-item {
        width: 100%;
    }

    .main-content-section-sessions-list {
      
    }

    .main-content-section-sessions-item:nth-child(n+2) {
        margin-top: 0;
    }

    .main-content-section-sessions-item {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .main-content-section-sessions-list {
        margin-left: 80px;

    }

    .main-content-section-sessions-hall {
       /* padding-left: 40px;*/
        max-width: 720px;
            }

    .main-content-section-price-hall.open {
        padding-left: 100px;
        padding-right: 20px;
      
    }

}

/*popap hall*/
body {
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Roboto';
    background-image: url(../img/login-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    /*width: 100%;*/
}

.main-content {
    width: 100%;
    background-color: rgba(234, 233, 235, 0.95);
}

.main-content-add {

    margin: 100px auto 0;
}

.main-content-add-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    background-color: rgba(99, 83, 108, 1);
    width: 100%;
    height: 57px;
}

.main-content-add-title-img {
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: cover;
    width: 22px;
    height: 22px;
    background-color: rgba(99, 83, 108, 1);
}

.main-content-add-title-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.main-content-container {
    padding: 16px 10px;
}

.main-content-add-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;

}

.main-content-add-item {

    width: 100%;
    margin-bottom: 8px;
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    font-weight: 400;
}

.main-content-add-item-time {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}


.main-content-add-item-select {
    width: 100%;
    height: 35px;
    padding: 8px;
    border: 1px solid rgba(183, 183, 183, 1);
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 16px;

}

.main-content-add-item span {
    margin-bottom: 2px;
}

.main-content-add-item-input {
    width: 100%;
    height: 35px;
    padding: 8px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(183, 183, 183, 1);
}

.main-content-add-item-input-img {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.main-content-add-item-input-img img {
    width: 100%;
}

.main-content-add-btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;
}

.main-content-add-btn {
    width: 200px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto 14px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);

}

.main-content-add-btn.cancel {
    width: 200px;
    height: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(99, 83, 108, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

@media (min-width: 768px) and (max-width: 1599px) {
    body {
        background-image: url(../img/login-tablet.jpg);
    }

    .main-content {
        width: 768px;
        margin: 50px auto;
    }

    .main-content-add {
        margin: 0 auto;
    }

    
    .main-content-section {
        position:relative;
    }
    .main-content-section::before {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        background-color: rgba(188, 149, 214, 1);
        left: 61px;
        top: 25px;
        z-index: 1;

    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
}

@media (min-width: 1599px) {
    body {
        background-image: url(../img/login-desktop.jpg);
    }

    .main-content {
        width: 960px;
        margin: 100px auto;
    }

    .main-content-container {
        padding: 34px 100px;
    }

    .main-content-add-title {
        padding: 16px 42px;
        justify-content: space-between
    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
}

/*popup movie*/
body {
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Roboto';
    background-image: url(../img/login-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    /* width: 100%;*/
}

.main-content {
    width: 100%;
    background-color: rgba(234, 233, 235, 0.95);
}

.main-content-add {
    min-width: 100%;
    margin: 100px auto 0;
}

.main-content-add-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    background-color: rgba(99, 83, 108, 1);
    width: 100%;
    height: 57px;
}

.main-content-add-title-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.main-content-container {
    padding: 16px 10px;
}

.main-content-add-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;

}

.main-content-add-item {
    width: 100%;
    margin-bottom: 8px;
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    font-weight: 400;
}

.main-content-add-item span {
    margin-bottom: 2px;
}

.main-content-add-item-input {
    width: 100%;
    height: 35px;
    padding: 8px;
    border: 1px solid rgba(183, 183, 183, 1);
}

.main-content-add-item-textarea {
    min-width: 100%;
    min-height: 80px;
    border: 1px solid rgba(183, 183, 183, 1);
}

.main-content-add-btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;
}

.main-content-add-btn {
    width: 200px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto 14px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);

}

.main-content-add-btn.cancel {
    width: 200px;
    height: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(99, 83, 108, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

@media (min-width: 768px) and (max-width: 1599px) {
    body {
        background-image: url(../img/login-tablet.jpg);
    }

    .main-content {
        width: 768px;
        margin: 50px auto;
    }

    .main-content-add {
        min-width: 100%;
        margin: 0 auto;
    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
    .main-content-section-sessions-halls {
        padding: 20px;
        margin-left: 113px;
        margin-right: 42px;
    }
}

@media (min-width: 1599px) {
    body {
        background-image: url(../img/login-desktop.jpg);
    }

    .main-content {
        width: 960px;
        margin: 100px auto;
    }

    .main-content-container {
        padding: 34px 100px;
    }

    .main-content-add-title {
        padding: 16px 42px;
        justify-content: space-between
    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
}

/*popup seances*/
.main-content {
    min-width: 320px;
    background-color: rgba(234, 233, 235, 0.95);

}

.main-content-add {
    background-color: rgba(234, 233, 235, 0.95);
    /*margin: 0 auto;*/
}


.main-content-add-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    background-color: rgba(99, 83, 108, 1);
    width: 100%;
    height: 57px;
}

.main-content-add-title-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.main-content-container {
    padding: 16px 10px;
}

.main-content-add-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;

}

.main-content-add-item {

    width: 100%;
    margin-bottom: 8px;
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    font-weight: 400;
}

.main-content-add-item-time {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}


.main-content-add-item-select {
    width: 100%;
    height: 35px;
    padding: 8px;
    border: 1px solid rgba(183, 183, 183, 1);
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 16px;

}

.main-content-add-item span {
    margin-bottom: 2px;
}

.main-content-add-item-input {
    width: 100%;
    height: 35px;
    padding: 8px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(183, 183, 183, 1);
}

.main-content-add-item-input-img {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.main-content-add-item-input-img img {
    width: 100%;
}

.main-content-add-btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 16px;
}

.main-content-add-btn {
    width: 200px;
    height: 40px;
    display: block;
    background-color: #16A6AF;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto 14px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);

    user-select: none;
    cursor: pointer;
}



.main-content-add-btn.cancel {
    width: 200px;
    height: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(99, 83, 108, 1);
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

@media (min-width: 768px) and (max-width: 1599px) {
    body {
        background-image: url(../img/login-tablet.jpg);
    }
    .content-header-title {
        
        margin-bottom: 3px;
    }
    .main-content-section-sessions-halls {
        padding: 20px;
        margin-left: 113px;
        margin-right: 42px;
    }
    .main-content-section-title {
        padding: 35px;
        padding-left: 104px;
       /* margin-bottom: 5px;*/
    }
    .main-content-section-control-hall {
        padding-left: 104px;
    }

    .main-content-section-control-hall-btn-link {
        font-size: 14px;
    }
    .main-content-section-control-hall-list {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .main-content {
        width: 768px;
        margin: 30px auto;
    }
    .main-content-section {
        padding-bottom: 35px;
    }
    .main-content-section-price-hall-list {
        margin-top: 15px;
    }
    .main-content-section-sessions-add {
        margin-top: 51px;
        margin-left: 104px;
        margin-bottom: 14px;
    }

    .main-content-section-sessions-list {
        margin-left: 102px;
    }
    .main-content-section-sessions-add {
        display: flex;
        justify-content: center          
    }
    .main-content-section-configuration {
        padding-left: 104px;
    }
    .main-content-section-sessions-item {
        margin-bottom: 12px;
    }
    .main-content-section-sessions-list {
        padding: 2px;
    }
    .main-content-section-sessions-halls {
        padding: 0 25px;
    }
    .main-content-section::before {
       z-index: 2;
    }
    .main-content-section-title::before {
        z-index: 3;
    }
    .main-content-add {
        background-color: rgba(234, 233, 235, 0.95);
        margin: 126px auto;
        min-width: 100%;
    }
   /* .main-content-section-control-hall-list {
              margin-bottom: 20px;
    }*/

    .main-content-section-control-hall-item {
        margin-top: 9px;
    }
    .main-content-section-control-hall-list {
        margin-bottom: 17px;
    }
    .main-content-section-price-hall {
        margin-bottom: 14x;
    }
    .main-content-section-price-type-item {
        margin-bottom: 7px;
    }
    .main-content-section-price-type span {
       font-size: 14px;
    }
    .main-content-section-price-hall {
        padding-left: 104px;
    }
    .main-content-section-configuration-type-save {
      margin-left: 170px;
    }
    .main-content-section-price-type {
       /* padding: 16px;*/
    
    }
    .main-content-section-price-type {
        padding-left: 104px;
    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
}

@media (min-width: 1599px) {
    body {
        background-image: url(../img/login-desktop.jpg);
    }

    .main-content {
        width: 960px;
        margin: 36px auto;
    }

    .main-content-add {
        min-width: 960px;
        background-color: rgba(234, 233, 235, 0.95);
    }

    .main-content-container {
        padding: 34px 100px;
    }

    .main-content-add-title {
        padding: 16px 42px;
        justify-content: space-between
    }

    .main-content-add-btns {
        flex-wrap: nowrap;
        width: 561px;
        margin: 0 auto;
    }

    .main-content-add-btn {
        margin-right: 14px;
    }

    .main-content-add-btn.cancel {
        margin-right: 0;
    }
}