@font-face {
  font-family: 'Roboto';
  src: url(./Roboto.eot);
  src: url(./Roboto.eot?#iefix) format('embedded-opentype'),
       url(./Roboto.otf) format('otf'),
       url(./Roboto.svg#Roboto) format('svg'),
       url(./Roboto.ttf) format('truetype'),
       url(./Roboto.woff) format('woff'),
       url(./Roboto.woff2) format('woff2');
}
